body {
    margin: 0;
}

div {
    line-height: 200%;
    height: 300px;
    width: 300px;
    border: 2px solid pink;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: khaki;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}