.titulo {
    color: coral;
}

.italico {
    font-size: italic;
}

.sombra {
    filter: drop-shadow(5px 5px 5px black);
}

#ola {
    color: brown;
}

#alo {
    color: cornflowerblue;
}

#eai {
    color: greenyellow;
}

#paragrafos {
    color: darkgrey;
}