body {
    background-color: aquamarine;
}

h1 {
    color: rgb(68, 68, 161);
    text-align: justify;
    line-height: 200;
    text-shadow: 5px 5px 4px crimson;

}

p {
    color: rgb(48, 75, 99);
    /* font-weight: bolder; */
    /* font-style: otalic; */
    line-height: 100%;
    padding: 20px;
    /* text-align: center ;*/
    /* text-align: right */
    /* text-align: left*/
    text-align: center;
}
 
